<ion-header>
  <ion-navbar color="danger">
    <ion-title>
      Access
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item-divider color="light">Assigned Roles</ion-item-divider>
  <ion-item *ngFor="let role of userRoles">
  {{ role }}
  <ion-icon name="radio-button-on" color="secondary" item-end></ion-icon>
</ion-item>

<ion-item-divider color="light">Unassigned Roles</ion-item-divider>
<ion-item *ngFor="let role of realmRoles">
{{ role }}
<ion-icon name="radio-button-on" color="danger" item-end></ion-icon>
</ion-item>

</ion-content>
